<div class="main-form">
  <div class="xml-form">
    <div class="xml-title">Choose XML</div>
    <input class="xml-input" type="text" name="xmlPath" [(ngModel)]="xmlPath" placeholder="Enter file path" autofocus>
    <div class="xml-button" (click)="loadXml()">Load</div>
    <div style="margin-top:10px">{{xmlPathStatus}}</div>
  </div>
  <hr class="xml-hr">
  <table>
    <tr class="table-header">
      <th *ngFor="let column of properties">
        {{column.toUpperCase()}}
      </th>
    </tr>
    <tr class="table-rows" *ngFor="let member of staff">
      <td *ngFor="let prop of properties">
        {{member[prop]}}
      </td>
    </tr>
  </table>
  <div style="margin-top: 10px; text-align: center">{{tableStatus}}</div>
  <div class="buttons-container">
    <div class="table-button" (click)="addForm()">{{addTitle}}</div>
    <div class="table-button" (click)="deleteRow()">Delete</div>
    <div class="table-button" (click)="saveXml()">Save</div>
  </div>
  <div class="add-row-form" [hidden]="!addFormStatus">
    <div *ngFor="let key of properties">
      {{key}}:<input type="text" name="input" *ngIf="newRow!=null" [(ngModel)]="newRow[key]">
    </div>
    <div class="add-row-submit" (click)="addRow()">Submit</div>
    <div style="margin-top:10px">{{savedStatus}}</div>
  </div>
</div>
