.main-form {
  background-color: hsl(150, 50%,90%);
  border-radius: 10px;
  box-shadow: 0 0 20px black;
  margin: 50px 100px 50px 100px;
  padding-bottom:50px;
  font-family: Arial;
}

.xml-form {
  text-align:center;
  padding-bottom: 50px;
  padding-top:50px;
}

.xml-title {
  font-size: 20px;
  margin-bottom:20px
}

.xml-input {
  margin-bottom:20px;
  width:70%;
}

.xml-button {
  padding: 10px;
  text-align: center;
  width:200px;
  margin: auto;
  border-radius: 10px;
  background-color: hsl(150, 50%,50%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.xml-button:hover {
  background-color: hsl(150, 50%,20%);
  color:white;
}

.xml-hr {
  margin-bottom: 40px;
}

.row-order {
  font-size:10px;
  vertical-align: sub;
  font-weight: bold;
  border: 1px solid black;
  margin-right: 2px;
  padding: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row-order:hover {
  background-color: darkslategrey;
  color: white;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.table-rows {
  cursor: default;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:nth-child(odd){background-color: white;}

.table-rows:hover {background-color: #ddd;}

.table-header {background-color:hsl(40,100%,50%) !important;}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 100px;
  margin-top:50px;
  margin-left:15%;
}

.table-button {
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: hsl(150, 50%,50%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table-button:hover {
  background-color: hsl(150, 50%,20%);
  color:white;
}

.row-selected {
  background-color: lightblue !important;
}

.update-table-container {
  position: relative;
}

.row-form {
  text-align: center;
  position: relative;
  padding:40px;
}

.row-submit {
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: hsl(150, 50%,50%);
  margin: 50px auto 0px auto;
  width:200px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row-submit:hover {
  background-color: hsl(150, 50%,20%);
  color:white;
}
